p {
    line-height: 1.9em;
}

.container p {
    font-size: 1.5em;
}

.dz-clickable {
    transition: all 0.5s ease;
}

.dz-drag-hover {
    opacity: 0.4;
    transition: all 0.5s ease;
}

.dz-preview {
    display:none;
}

.download-button {
    background-color: #f3b612;
    margin-top: 3%;
    padding: 13px 40px;
}

.ticket-button {
    background-color: #27ae60;
    padding: 13px 40px;
}

pre {
    text-align: left;
}

pre code {
    font-size:1.3em;
}